.expertise-item {
  display: flex;
  gap: 30px;
  margin-bottom: 30px;
}

.expertise-item:last-child {
  margin-bottom: 0;
}
.expertise-date {
  font-size: 16px;
  color: #667081;
}

.expertise-info {
  display: flex;
  flex-direction: column;
}

.expertise-company {
  font-size: 18px;
  font-weight: bold;
}

.expertise-job {
  font-size: 16px;
  font-weight: bold;
  color: #333;
}

.expertise-description {
  font-size: 14px;
  color: #222935;
  margin-top: 5px;
}
.expertise-left {
  display: flex;
  flex-direction: column;
  gap: 5px;
  min-width: 85px;
}
